In [1]:
import pandas as pd
import matplotlib.pyplot as pylot

In [2]:
df = pd.read_csv("tips.csv")
df

    total_bill     sex smoker  day       time   tip
0        16.99  Female    Yes  Sun     Dinner  1.01
1        10.34    Male     No  Sun     Dinner  1.66
2        21.01    Male     No  Sun      Lunch  3.50
3        23.68    Male    Yes  Sun      Lunch  1.02
4        24.59     NaN     No  Sat      Lunch  3.61
5        25.29    Male    Yes  Sun        NaN  4.71
6         8.77     NaN     No  Sun     Dinner  2.00
7        26.88    Male    NaN  Mon      Lunch  3.12
8        15.04  Female    NaN  Sun     Dinner  1.96
9          NaN    Male     No  NaN      Lunch  3.23
10       10.27    Male    Yes  Sun     Dinner  1.71
11       35.26  Female     No  Fri  Breakfast  5.00
12       15.42    Male    Yes  NaN        NaN  2.70

In [3]:
X = df.iloc[:,:-1].values
y = df.iloc[:,5].values

X

array([[16.99, 'Female', 'Yes', 'Sun', 'Dinner'],
       [10.34, 'Male', 'No', 'Sun', 'Dinner'],
       [21.01, 'Male', 'No', 'Sun', 'Lunch'],
       [23.68, 'Male', 'Yes', 'Sun', 'Lunch'],
       [24.59, nan, 'No', 'Sat', 'Lunch'],
       [25.29, 'Male', 'Yes', 'Sun', nan],
       [8.77, nan, 'No', 'Sun', 'Dinner'],
       [26.88, 'Male', nan, 'Mon', 'Lunch'],
       [15.04, 'Female', nan, 'Sun', 'Dinner'],
       [nan, 'Male', 'No', nan, 'Lunch'],
       [10.27, 'Male', 'Yes', 'Sun', 'Dinner'],
       [35.26, 'Female', 'No', 'Fri', 'Breakfast'],
       [15.42, 'Male', 'Yes', nan, nan]], dtype=object)

In [4]:
y

array([1.01, 1.66, 3.5 , 1.02, 3.61, 4.71, 2.  , 3.12, 1.96, 3.23, 1.71,
       5.  , 2.7 ])

In [5]:
import numpy as np
from numpy import nan
class Populatevalues:
    def __init__(self, arr, category, column):
        self.arr = arr
        self.category = category
        self.column = column
        self.nanToNone()
        self.Populate()

    def nanToNone(self):
        for row in self.arr:
            for i in range(len(row)):
                if row[i] != row[i]:
                    row[i] = None

    def ifMean(self):
        sum = 0
        count = 0
        num_rows = len(self.arr)
        for i in range(num_rows):
            for j in range(self.column-1, self.column):
                if self.arr[i][j] != None:
                    sum += self.arr[i][j] 
                    count += 1
        mean = sum / count
        return round(mean,1)




    def ifMedian(self):
        count = 0
        new = []
        num_rows = len(self.arr)
        for i in range(num_rows):
            for j in range(self.column-1, self.column):
                if self.arr[i][j] != None:
                    count += 1
                    new.append(self.arr[i][j])
        new = np.sort(new)
        length = len(new)
        if length % 2 == 0:
            median = (length + 1) // 2
        else:
            median = ((length // 2) + ((length + 1) // 2)) // 2
        median_ = new[median]
        return median_
        

    def ifMode(self):
        element_count = {}
        for sublist in self.arr:
            if self.column - 1 < len(sublist):
                element = sublist[self.column-1]
                if element in element_count:
                    element_count[element] += 1
                else:
                    element_count[element] = 1
                    
        most_common_element = None
        max_count = 0
        for element, count in element_count.items():
            if count > max_count:
                most_common_element = element
                max_count = count
                
        return most_common_element

    def Populate(self):
        if self.category == "Mean":
            func = self.ifMean()
        elif self.category == "Median":
            func = self.ifMedian()
        elif self.category == "Mode":
            func = self.ifMode()
            
        for i in range(len(self.arr)):
                for j in range(self.column-1,self.column):
                    if self.arr[i][j] == None:
                        self.arr[i][j] = func

In [6]:
Populatevalues(X,"Mean",1)
Populatevalues(X,"Mode",2)
Populatevalues(X,"Mode",3)
Populatevalues(X,"Mode",4)
Populatevalues(X,"Mode",5)
X

array([[16.99, 'Female', 'Yes', 'Sun', 'Dinner'],
       [10.34, 'Male', 'No', 'Sun', 'Dinner'],
       [21.01, 'Male', 'No', 'Sun', 'Lunch'],
       [23.68, 'Male', 'Yes', 'Sun', 'Lunch'],
       [24.59, 'Male', 'No', 'Sat', 'Lunch'],
       [25.29, 'Male', 'Yes', 'Sun', 'Dinner'],
       [8.77, 'Male', 'No', 'Sun', 'Dinner'],
       [26.88, 'Male', 'No', 'Mon', 'Lunch'],
       [15.04, 'Female', 'No', 'Sun', 'Dinner'],
       [19.5, 'Male', 'No', 'Sun', 'Lunch'],
       [10.27, 'Male', 'Yes', 'Sun', 'Dinner'],
       [35.26, 'Female', 'No', 'Fri', 'Breakfast'],
       [15.42, 'Male', 'Yes', 'Sun', 'Dinner']], dtype=object)

In [7]:
import numpy as np
class LabelEncoding:
    def __init__(self,arr,column):
        self.arr = arr
        self.column = column
        self.Encoding()


    def Encoding(self):
        specified_column = self.arr[:,self.column - 1]
        unique_values = np.unique(specified_column)
        unique_count = len(unique_values)
        for i in range(len(self.arr)):
           for j in range(self.column-1,self.column):
               if unique_values[0]==self.arr[i][j]:
                   self.arr[i][j]=1
               else:
                   self.arr[i][j]=0

In [8]:
LabelEncoding(X,2)  
LabelEncoding(X,3)
X

array([[16.99, 1, 0, 'Sun', 'Dinner'],
       [10.34, 0, 1, 'Sun', 'Dinner'],
       [21.01, 0, 1, 'Sun', 'Lunch'],
       [23.68, 0, 0, 'Sun', 'Lunch'],
       [24.59, 0, 1, 'Sat', 'Lunch'],
       [25.29, 0, 0, 'Sun', 'Dinner'],
       [8.77, 0, 1, 'Sun', 'Dinner'],
       [26.88, 0, 1, 'Mon', 'Lunch'],
       [15.04, 1, 1, 'Sun', 'Dinner'],
       [19.5, 0, 1, 'Sun', 'Lunch'],
       [10.27, 0, 0, 'Sun', 'Dinner'],
       [35.26, 1, 1, 'Fri', 'Breakfast'],
       [15.42, 0, 0, 'Sun', 'Dinner']], dtype=object)

In [9]:
import numpy as np
class OneHotEncoder:
    def __init__(self, arr, column):
        self.arr = arr
        self.column = column

    def StrToInt(self):
        specified_column = self.arr[:, self.column - 1]
        unique_values = np.unique(specified_column)
        
        if len(unique_values) == 2:
            for i in range(len(self.arr)):
                if unique_values[0] == self.arr[i][self.column - 1]:
                    self.arr[i][self.column - 1] = 1
                else:
                    self.arr[i][self.column - 1] = 0
        else:
            unique_count = len(unique_values)
            num_rows = self.arr.shape[0]
            new_columns = np.zeros((num_rows, unique_count), dtype=int)
            left_part = self.arr[:, :self.column]
            right_part = self.arr[:, self.column:]
            self.arr = np.concatenate((left_part, new_columns, right_part), axis=1)
            
            for i in range(len(self.arr)):
                for j in range(len(unique_values)):
                    if unique_values[j] == specified_column[i]:
                        self.arr[i][self.column - 1 + j + 1] = 1
            self.arr = np.delete(self.arr, self.column - 1, axis=1)
        return self.arr

In [10]:
encoder = OneHotEncoder(X, 4)
encoded_arr = encoder.StrToInt()
X=encoded_arr

In [11]:
X

array([[16.99, 1, 0, 0, 0, 0, 1, 'Dinner'],
       [10.34, 0, 1, 0, 0, 0, 1, 'Dinner'],
       [21.01, 0, 1, 0, 0, 0, 1, 'Lunch'],
       [23.68, 0, 0, 0, 0, 0, 1, 'Lunch'],
       [24.59, 0, 1, 0, 0, 1, 0, 'Lunch'],
       [25.29, 0, 0, 0, 0, 0, 1, 'Dinner'],
       [8.77, 0, 1, 0, 0, 0, 1, 'Dinner'],
       [26.88, 0, 1, 0, 1, 0, 0, 'Lunch'],
       [15.04, 1, 1, 0, 0, 0, 1, 'Dinner'],
       [19.5, 0, 1, 0, 0, 0, 1, 'Lunch'],
       [10.27, 0, 0, 0, 0, 0, 1, 'Dinner'],
       [35.26, 1, 1, 1, 0, 0, 0, 'Breakfast'],
       [15.42, 0, 0, 0, 0, 0, 1, 'Dinner']], dtype=object)

In [12]:
encoder = OneHotEncoder(X, 8)
encoded_arr = encoder.StrToInt()
X=encoded_arr

In [13]:
X

array([[16.99, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [10.34, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [21.01, 0, 1, 0, 0, 0, 1, 0, 0, 1],
       [23.68, 0, 0, 0, 0, 0, 1, 0, 0, 1],
       [24.59, 0, 1, 0, 0, 1, 0, 0, 0, 1],
       [25.29, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [8.77, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [26.88, 0, 1, 0, 1, 0, 0, 0, 0, 1],
       [15.04, 1, 1, 0, 0, 0, 1, 0, 1, 0],
       [19.5, 0, 1, 0, 0, 0, 1, 0, 0, 1],
       [10.27, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [35.26, 1, 1, 1, 0, 0, 0, 1, 0, 0],
       [15.42, 0, 0, 0, 0, 0, 1, 0, 1, 0]], dtype=object)

In [14]:
import numpy as np
class Scaling:
    def __init__(self, arr, column, method):
        self.arr = arr
        self.column = column
        self.method = method
        self.Scale()


    def MinMax(self):
        maximum = float(max(self.arr[:, self.column - 1]))
        minimum = float(min(self.arr[:, self.column - 1]))

        for i in range(len(self.arr)):
            for j in range(self.column - 1, self.column):
                self.arr[i][j] = (float(self.arr[i][j]) - minimum) / (maximum - minimum)
            
    def MeanStd (self):
        mean = np.mean(self.arr[:,self.column - 1])
        std = np.std(self.arr[:,self.column - 1])
        for i in range(len(self.arr)):
            for j in range(self.column - 1, self.column):
                self.arr[i][j] = (float(self.arr[i][j]) - mean) / std
        
    def Scale(self):
        if self.method == "MinMax":
            self.MinMax()
        elif self.method == "MeanStd":
            self.MeanStd()

In [15]:
Scaling(X,1,"MinMax")
X

array([[0.3103057757644394, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [0.05926764816912044, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0.462061155152888, 0, 1, 0, 0, 0, 1, 0, 0, 1],
       [0.5628539071347679, 0, 0, 0, 0, 0, 1, 0, 0, 1],
       [0.5972064930162326, 0, 1, 0, 0, 1, 0, 0, 0, 1],
       [0.6236315590788977, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [0.0, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0.6836542091355229, 0, 1, 0, 1, 0, 0, 0, 0, 1],
       [0.23669309173272932, 1, 1, 0, 0, 0, 1, 0, 1, 0],
       [0.4050585126462817, 0, 1, 0, 0, 0, 1, 0, 0, 1],
       [0.05662514156285391, 0, 0, 0, 0, 0, 1, 0, 1, 0],
       [1.0, 1, 1, 1, 0, 0, 0, 1, 0, 0],
       [0.251038127595319, 0, 0, 0, 0, 0, 1, 0, 1, 0]], dtype=object)

In [16]:
import numpy as np
class Split:
    def __init__ (self,arr,size):
        self.arr = arr
        self.size = size

    def split(self):
        total = len(self.arr)
        percentage = int((self.size / 100) * total)
        Train = self.arr[:percentage]
        Test = self.arr[percentage:]
        print("Training Data")
        print(Train)
        print("Testing Data")
        print(Test)

In [17]:
s_x = Split(X,80)
s_x.split()

Training Data
[[0.3103057757644394 1 0 0 0 0 1 0 1 0]
 [0.05926764816912044 0 1 0 0 0 1 0 1 0]
 [0.462061155152888 0 1 0 0 0 1 0 0 1]
 [0.5628539071347679 0 0 0 0 0 1 0 0 1]
 [0.5972064930162326 0 1 0 0 1 0 0 0 1]
 [0.6236315590788977 0 0 0 0 0 1 0 1 0]
 [0.0 0 1 0 0 0 1 0 1 0]
 [0.6836542091355229 0 1 0 1 0 0 0 0 1]
 [0.23669309173272932 1 1 0 0 0 1 0 1 0]
 [0.4050585126462817 0 1 0 0 0 1 0 0 1]]
Testing Data
[[0.05662514156285391 0 0 0 0 0 1 0 1 0]
 [1.0 1 1 1 0 0 0 1 0 0]
 [0.251038127595319 0 0 0 0 0 1 0 1 0]]

In [18]:
s_y = Split(y,80)
s_y.split()

Training Data
[1.01 1.66 3.5  1.02 3.61 4.71 2.   3.12 1.96 3.23]
Testing Data
[1.71 5.   2.7 ]

In [19]:
df

    total_bill     sex smoker  day       time   tip
0        16.99  Female    Yes  Sun     Dinner  1.01
1        10.34    Male     No  Sun     Dinner  1.66
2        21.01    Male     No  Sun      Lunch  3.50
3        23.68    Male    Yes  Sun      Lunch  1.02
4        24.59     NaN     No  Sat      Lunch  3.61
5        25.29    Male    Yes  Sun        NaN  4.71
6         8.77     NaN     No  Sun     Dinner  2.00
7        26.88    Male    NaN  Mon      Lunch  3.12
8        15.04  Female    NaN  Sun     Dinner  1.96
9          NaN    Male     No  NaN      Lunch  3.23
10       10.27    Male    Yes  Sun     Dinner  1.71
11       35.26  Female     No  Fri  Breakfast  5.00
12       15.42    Male    Yes  NaN        NaN  2.70